.idea/
infiles/*
!infiles/link.txt
!infiles/get_API_code.rb
target/
project/
result/*
!result/join.rb
!result/join-result/
!result/all-method-names.txt
!result/all-file-cat.sh
result2/*

# パースできなかったAPI ./infiles/legacy-jclouds/archetypes/rest-client-archetype/src/main/resources/archetype-resources/src/main/java/__providerName__Client.java
infiles/legacy-jclouds/
infiles/storio/